@import 'fonts.css';

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

.header__top {
  background-color: #303030;
}

.header__btn {
  float: right;
  color: #1b1b1b;
  font-style: 16px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  position: relative;
  transition: all 0.2s;
}

.header__btn:hover {
  background-color: #daa317;
}

.header__btn:before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #000000;
  position: absolute;
}

.header__phone,
.header__email {
  color: #d3d2d2;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}

.header__phone {
  padding: 0 20px 0 20px;
}

.header__phone:before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffcd21;
}

.header__email {
  padding-left: 24px;
}

.header__email:before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffcd21;
}

.header__content {
  padding: 34px 0 23px 0;
}

.menu li {
  display: inline-block;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: 'Roboto', sans-serif;
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0 16px;
  transition: all .2s;
}

.menu a:hover {
  border-color: #ffc222;
}

.menu li+li {
  padding-left: 13px;
}